.shoeImg {
    border: 12px solid #333;
    margin: 0 auto;
    display: block;
}

.shoeInfo {
    padding: 2em;
    border: 10px solid #D0D0D0;
    margin: 1em;
}

p {
    text-indent: initial;
    margin: initial;
    margin-bottom: 2em;
}