nav {
    width: 100%;
    background-color: #EAEBED;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
    /* display: inline; */
    margin: 0 2vw;
    font-size: 3vh;
}

.menu-item {
    text-decoration: none;
    color: black; /* Change fcolor to something else */
    padding: 2vw;
    float: left;
    /* display: block; */
    /* Have a global font fmaily */
}

.menu-item:hover {
    color: #006989; /* Change this to something else */
}

.menu-item.right {
    float: right;
}