.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
    padding: 4px;
    margin: -8px;
}

.navbar a {
    color: white;
    padding: 14px 0;
    text-decoration: none;
    margin: initial;
    margin-right: 15%;
    display: block;
    width: 100%;
    border-bottom: 5px white solid;
    padding-left: 1em;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

#ham, #user-icon {
    cursor: pointer;
}

#ham {
    height: 40px;
    margin-left: 50%;
}

#user-icon {
    height: 40px;
}

#links, #user-links {
    display: none;
}

ul #logout {
    border-bottom: initial;
}

a.active {
    background-color: #4CAF50;
    border-bottom: initial;
}