#navbar {
    width: 100%;
    margin: inherit;
    background-color: #E6E6E6;
    color: white;
    border-radius: 10px;
}

#logo {
    background: #39393A;
    color: white;
}

#logo.user{
    margin-top: -2em;
}

.topnav {
    overflow: hidden;
    background-color: #297373;
    position: relative;
}

.topnav #links {
    display: none;
}

.topnav a, #navbar #logo {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.topnav a {
    color: #39393A;
    border-bottom: .25em solid white;
}

.topnav a:last-child {
    border: none;
}

.topnav a#ham {
    background-color: #39393A;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

.topnav a:hover {
    background-color: #A07178;
    color: #39393A;
}

.active {
    background-color: #FC5130;
    color: black;
}

li {
    margin-bottom: initial;
}