#buyerSeller {
    border: 10px solid green;
    padding: 2%;
    margin-bottom: 4em;
    
}

#buyerSeller p {
    margin-bottom: 1em;
}

#commentInfo {
    border: 4px solid black;
    margin-bottom: 2%;
}

#header {
    font-weight: bold;
    border-bottom: 4px solid black;
    margin-bottom: 1em;
}

#bodyHTML {
    height: 6em;
}

#replyHeader {
    margin-top: 3em;
    font-weight: bold;
}

#replyText {
    padding-top: 2%;
    margin-bottom: 1em;
}

.myButton#replyButton {
    height: 6em;
}

.buyer {
    background-color: lightgrey;
    border: 4px solid black;
    margin-left: 1em;
    margin-bottom: 2%;
}

.owner {
    background-color: grey;
    border: 4px solid black;
    margin-left: 1em;
    margin-bottom: 2%;
}

.replyClass p {
    margin-bottom: 4%;
}

.myButton.approve {
    margin-top: 9em;
    background: green;
}

.myButton.deny {
    background: red;
}

p {
    margin: initial;
    padding-left: 2%;
    text-indent: initial;
}