<h2>About ShoelessJoe's Technical Side</h2>
<p id="warning">This web application was built with 3 applications working together.</p>
<h3>The Client Application</h3>
<p id="client">The "Client Application" is what you're seeing right now. This single-page web website that powered by Angular.
    ShoelessJoe is written in 3 major lanbuges TypeScript, HTML, and CSS.</p>
    <p class="linkGit">A link to the repository or GitHub. <a href="https://github.com/TClaypool00/ShoelessJoeClient"> github.com/TClaypool00/ShoelessJoeClient </a> </p>
<h3>The Backend Application</h3>
<p id="backend">The "Backend Application" is written in C# and is responsible for things going on "Behind the Scences." ShoelessJoe uess a RESTFul API.
    The API is responsible for four jobs.</p>
<ol>
    <li><b>GET:</b> Pulling information from the database and displaying on the screen. </li>
    <li><b>POST:</b> Creating a new entity in the database. </li>
    <li><b>PUT:</b> Updating the an entity by creating a new entity entirely with the current ID. </li>
    <li><b>DELETE:</b> Removes an entity from the database by selecting the current ID.</li>
</ol>
<p class="linkGit">A link to the API repository ong GitHub: <a href="https://github.com/TClaypool00/ShoelessJoeAPI"> github.com/TClaypool00/ShoelessJoeAPI </a></p>
<h3>Database</h3>
<p>ShoelessJoe use a Relational Dtabase in 3rd Form Normalization. It is written in SQL Server and is hosted on an Azure SQL Server. It has 4 entities Users, Shoes, Comments, and Replies. Each with it's own set of properties.</p>
<img src="../../assets/images/database.PNG" alt="ShoelessJoe's Dtabase">