<div id="container">
    <h2>My Comments</h2>
    <h3>Potential Buys</h3>
    <div *ngIf="buyComments.length > 0">
        <div *ngFor="let comment of buyComments">
            <div *ngIf="this.currentUser.userId == this.comment.userId" class="buyComments">
                <h3> {{this.comment.messageHead}} </h3>
                <!-- <p>Shoe Owner: {{this.currentShoe?.userFirstName}} {{this.currentShoe?.userLastName}} </p> -->
                {{this.comment.shoeId}}

                <button class="myButton" (click)=getComment(this.comment.commentId)>Select Comment</button>
            </div>
        </div>
    </div>
    <div *ngIf="buyComments.length == 0"> You have no potential buys. Consider going to the <b><a routerLink='/browse'> Browse </a></b> Page</div>
    <br />

    <h3>Potential Sells</h3>
    <div *ngIf="sellComments.length > 0">
        <div *ngFor="let sellComment of sellComments">
            <div *ngIf="this.currentUser.userId == this.sellComment.shoeUserId">
                <p> {{this.comment.commentId}} </p>
                <button class="myButton" (click)=getComment(this.sellComment.commentId)>Select Comment</button>
            </div>
        </div>
    </div>
    <div *ngIf="sellComments.length === 0"> You have no potential sells.</div>