<div id="container">
    <h2>My Comments</h2>
    <h3>Potential Buys</h3>
    <div *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments">
            <div *ngIf="this.currentUser.userId == this.comment.userId">
                <p> {{this.comment.commentId}} </p>
                <button class="myButton" (click)=getComment(this.comment.commentId)>Select Comment</button>
            </div>
        </div>
    </div>
    <div *ngIf="comments.length == 0"> You have no potential buys. Consider going to the <b><a routerLink='/browse'> Browse </a></b> Page</div>
    <br />

    <h3>Potential Sells</h3>
    <div *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments">
            <div *ngIf="this.currentUser.userId == this.comment.shoeUserId">
                <p> {{this.comment.commentId}} </p>
                <button class="myButton" (click)=getComment(this.comment.commentId)>Select Comment</button>
            </div>
        </div>
    </div>
    <div *ngIf="comments.length == 0"> You have no potential sells.</div>