.listOfShoes {
	margin: 2%;
	padding: 3%;
	text-align: left;
	background-color: #EAEBED;
	margin-bottom: 10%;
	border-radius: 4%;
	box-shadow: 10px 5px;
}

.listOfShoes:hover {
	background-color: #16a085;
	cursor: pointer;
}

.listOfShoes p {
	margin: initial;
}