/* ShoelessJoe CSS
Moblie First */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E6E6E6;
}

#container {
    padding: 2em;
    display: block;
    margin: 0 auto;
}


button {
    width: 100%;
    font-size: inherit;
    height: 3em;
    text-align: center;
    background-color: #297373;
    border: none;
    border-radius: 2px;
    color: #39393A;
    transition: 0.1s ease;
    font-weight: 500;
}

button:hover,
button:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

button:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="text"],
input[type="password"] {
    background-color: inherit;
    width: 100%;
    margin-bottom: 4em;
    display: block;
    box-sizing: border-box;
    border: none;
    border-bottom:  1px solid #39393A;
    transition: 0.2s ease;
    font-size: .90em;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 4px solid #297373;
    color: #297373;
    transition: 0.2s ease;
}

h2, h3 {
    text-align: center;
    margin-bottom: 2em;
}

p {
    text-indent: 2em;
    margin-bottom: 5em;
    line-height: 1.5em;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5em;
}

a {
    text-decoration: none;
    color: #A07178;
    font-weight: bold;
}

/* Tablet CSS */

@media only screen and (min-width: 750px) {
    body {
        font-size: 1.7em;
    }

    #container {
        padding-right: 7em;
        padding-left: 7em;
    }

    p{
        line-height: 2.5em;
    }
}