/* Color Scheme 

#EAEBED Cultured
#006989 Blue Sapphire
#A3BAC3 Pewter Blue
#007090 CG Blue
#01A7C2 Pacific Blue

*/


/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
    margin: 0%;
    padding: 2%;
    font-size: 1.5em;
	background-color: #A3BAC3;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#container {
    position: relative;
    margin: 5% auto;
    width: 50%;
	height: 850px;
	height: auto;
    background: #EAEBED;
    border-radius: 2px;
	box-shadow: 5px 10px;
	padding: 2%;
	border-radius: 4%;
}

h2 {
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
	font-weight: bold;
}

p{
    text-indent: 6%;
    margin-bottom: 4%;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #006989;
	font-weight: bold;
}

a:visited {
	color: #006989;
}

/* CSS for all buttons */
.myButton {
	box-shadow: 0px 10px 14px -7px #006989;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#EAEBED;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
    margin-left: 25%;
    margin-top: 13%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: #EAEBED;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}