@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
    font-size: 1.2em;

    color: #222;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 8%;
    background-color: #ffffff;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15%;
  padding: 1%;
  width: 100%;
  height: 2em;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 75%;
  transition: 0.2s ease;
  background-color: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.myButton {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 4em;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    margin-top: 15%;
    
  }
  
.myButton:hover,
.myButton:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.myButton:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

p {
    text-indent: 15%;
    margin-bottom: 20%;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    font-weight: bold;
}