<div id="container">
    <h2>About Me</h2>
    <p>My name is Tyler Claypool. This product is very special to me. I was born too early in the country of Guatemala.
        I was adopted at 6 months of age. At 18 months I was diagnosed with Cerebral Palsy. I was never able to crawl
        and did learn to walk until I was 4. I have had numerous surgeries. My last surgery involved a bone graft to my
        left foot. After the graft, my left quit growing while my right kept growing. I remember the first time my
        mother offered to buy me two different pairs of shoes. After years of a size 6.5 on my left foot and a 9 on my
        right, I have boxes of mismatched shoes that someone must need.</p>

    <h2>About ShoelessJoe</h2>
    <p>Have you ever tried to buy shoes in different sizes or even just one shoe? It's nearly impossible. I am very
        blessed to have a mother who can afford to purchase two pairs of shoes so I could have one that fits. <b>I want
            this organization to benefit others who may have different size feet or perhaps one foot.</b> I know there
        are others out there with Cerebral Palsy, cancer, birth defects, amputees, or veterans who could be helped by
        this project. The group will only grow if others are willing to donate their if others are willing to donate
        them to people in need who give from their from their heart for the shoe(s) are worth to them</p>


    <h2>How can you help?</h2>
    <p>If you any shoes, even if it's just one shoe in any condition(as long there wearable) Please submit the shoe(s)
        on <b><a routerLink='/shoe-form'> Shoe Form </a></b></p>
    <p>If you are wanting to own a shoe or shoes, then go to <a routerLink="/browse"><b>Browse page</b></a></p>

    <!-- Add more to the "how can you help section" -->
</div>