<div id="container">
    <div class="register">
        <h2>Register</h2>
        <input type="text" name="firstName" placeholder="John">
        <input type="text" name="lastName" placeholder="Smith">
        <input type="text" name="email" placeholder="johnsmith@gmail.com">
        <input type="checkbox" name="isAdmin" hidden>
        <input type="text" name="password" placeholder="JohnPassword">
        <input type="text" name="phoneNumber" placeholder="1234567890">
        <input type="text" name="address" placeholder="1234 Something Street">
        <input type="text" name="city" placeholder="Some City">
        <input type="text" name="state" placeholder="Missouri">
        <input type="text" name="zip" placeholder="12345">
        <br />
        <button class="myButton">Register</button>
    </div>
    <div class="login">
        <h2>Login</h2>
        <input type="text" name="email" placeholder="johnsmith@gmail.com">
        <input type="text" name="password" placeholder="Password">
        <button class="myButton">Login</button>
    </div>
    <div id="or">OR</div>
</div>